# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
*.local

# db
data/
*.db
*.db-wal
*.db-shm

# os / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# logs
*.log
npm-debug.log*

# docs
docs/

